@font-face {
    font-family: 'abo-font';
    src: url('/font/abo.ttf') format('truetype');
    /* You can specify multiple sources and formats for better browser compatibility */
  }


.const_content{
    width: 80%;
    margin: auto;
}
.work_con{
    text-align: center;
}

.const_title{
    font-family: abo-font;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 90px;
    margin-top: 30px;
}

.const_img{
    margin:  auto;
    width: 40%;
    height: auto;
    display: flex;
    margin-bottom: 50px;


}
@media screen and (max-width: 768px) {
    .const_img{

        width: 80%;
     
    
    
    }
}