{{ define "main"}}



    <div class="blog_con">
      
    {{ range .Pages }}

        <div class="cont" dir="rtl" >
    
            <a href="{{ .Page.Permalink }}"><img class="blog_img" src="{{ .Params.img }}" alt="{{ .Title }}"></a>
            <div class="blog_text">
                <h1 class="cont-link" style="margin-bottom: 0; margin-top: 10px;"><a href="{{ .Page.Permalink }}">{{ .Title }}</a></h1>
                <hr>
                <p class="blog_para"> {{ .Params.short }} </p>
            </div>
        </div>
        
    {{ end }}
       
    </div>


    {{ .Content }}
{{ end }}