
{{ define "main" }}
    <div class="about_con" dir="rtl">
        <h1>{{ .Site.Params.MainAboutTitle }}</h1>

        <p>{{ .Site.Params.AboutTitle }}</p>

        <h1>أهدافنا الرئيسية تشمل  </h1>
            <ol>أ/ العمل على تقوية وتنمية العلاقات بين أعضاء الرابطة ومد جسور التعاون مع الروابط الأخرى.
            </ol>
            <ol>ب/ دعم ورعاية النشاط الإجتماعي، الثقافي، الأكاديمي الرياضي والإبداعي لأعضاء الرابطة.</ol>
            <ol>ت/ التعريف بالسودان وإظهار ثفاقته وتاريخه في الندوات والبرامج الداخلية والخارجية.</ol>
            <ol>ث/ خدمة أعضاء الرابطة وتقديم كافة الدعم لهم في سبيل تحقيق أهدافهم.</ol>
            <ol>ج/ حل المشاكل التي تواجه أعضاء الرابطة.</ol>
            <ol>ح/ التواصل مع كل الهيئات المحلية والإقليمية وخلق فرص تساعد على تنمية أعضاء الرابطة.</ol>
            <ol>خ/ تهدف الرابطة إلى أن تكون جهة موثوقة واستشارية ومرجعية للأعضاء في ما يخصهم.</ol>
           
 
        <h1>الأنشطة والفعاليات:</h1>

            <ol>الفعاليات الاجتماعية: تشمل العروض الفنية والمسرحيات التي تهدف إلى دعم القضايا الاجتماعية المهمة.
            </ol>
            <ol>ورش العمل والندوات: تنظم جمعيتنا ورش عمل في مجالات مختلفة مثل التنمية الذاتية وريادة الأعمال والصحة النفسية، بهدف تحفيز الأفراد على تطوير مهاراتهم ومعرفتهم.
            </ol>
            <ol>الفعاليات الرياضية: تشمل البطولات الرياضية والتمارين الرياضية التي تهدف إلى تعزيز الصحة واللياقة البدنية لأفراد المجتمع.
            </ol>
            <p> من خلال هذه الأنشطة والفعاليات، نسعى لتحقيق رسالتنا وأهدافنا بتعزيز التواصل والتعاون في المجتمع، وتحفيز الشباب على المشاركة الفعالة في تحسين الظروف المحيطة بهم وتطوير مهاراتهم وقدراتهم. تتطلع جمعيتنا لاستمرار تقديم الدعم والمساعدة للمجتمع المحلي والمساهمة في بناء مستقبل أفضل للجميع.
            </p>


        {{ .Content}}
    </div>
 
{{ end }}