<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/list.css">
<link rel="stylesheet" href="/css/const.css">
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/listPost.css">
<link rel="stylesheet" href="/css/baseof.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/css/post.css">
<script src="/js/baseof.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>