
<!--
    This is the footer section of the website layout.
    It contains social media icons and copyright information.
    The logos are linked to the respective social media profiles.
    The footer also includes the name of the team and the developer who made it.
    The footer is enclosed in a <footer> tag and has a container with two sections.
    The first section contains the social media icons and the second section contains the copyright information.
-->


<footer>
    <div class="container">
        <div class="logos">
            <a href="https://t.me/Sot_Bilecik" class="fa fa-telegram"></a>
            <a href="https://www.youtube.com/@sotBilecik" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/sot_bilecik/" class="fa fa-instagram"></a>
            <a href="https://github.com/SDbilecik" class="fa fa-github"></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p > All right reserved &copy; 2024  </p>
                <p  style="text-align: center;">Made By<a class="linkfooter" style="text-decoration: none; " href="https://github.com/SDbilecik" target="_blank"> sotBilecik Team </a> 💚 </p>
            </div>
        </div>
    </div>
</footer>

<!--
    هذا هو ملف HTML لتخطيط الجزء السفلي من الموقع.
    يحتوي على روابط لوسائل التواصل الاجتماعي وحقوق النشر ومعلومات المطور.
-->