<footer>
    <div class="container">
        <div class="logos">
            <a href="https://t.me/Sot_Bilecik" class="fa fa-telegram"></a>
            <a href="https://www.youtube.com/@sotBilecik" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/sot_bilecik/" class="fa fa-instagram"></a>
            <a href="https://github.com/SDbilecik" class="fa fa-github"></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p >All right reserved &copy; 2024 - <a style="text-decoration: none;" href="https://github.com/SDbilecik" target="_blank">sotBilecik Team </a></p>
                <p style="text-align: center;">Made By <a style="text-decoration: none;" href="https://github.com/Noraldim">NBK</a> 💚 </p>
            </div>
        </div>
    </div>
</footer>