<footer>
    <div class="container">
        <div class="logos">
            <a href="#" class="fa fa-telegram"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-soundcloud"></a>
            <a href="#" class="fa fa-github"></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 - <a href="http://www.sotbilecik.org" target="_blank">sot bilecik org</a></p>
            </div>
        </div>
    </div>
</footer>